  :root{
    --THEME_COLOR1: #464EB8;
    --THEME_COLOR2: #505AC9;
    --THEME_COLOR3: #7B83EB;
    --BACKGROUND_COLOR1: #F5F5F5;
    --BACKGROUND_COLOR2: #BDBDBD;
    --BACKGROUND_COLOR3: #616161;
    --BACKGROUND_COLOR4: #424242;
    --BACKGROUND_COLOR5: #242424;
    --BLACK: #000000;
    --WHITE: #FFFFFF;
  };