:root{
    --TOPBAR_HEIGHT : 5vh;
    --EVENTSPANEL_HEIGHT : 75vh;
    --EVENTSPANEL_WIDTH_EXTENDED : 10vw;
    --EVENTSPANEL_WIDTH_COLLAPSED : 5vw;
    --CALLPANEL_HEIGHT : 75vh;
    --CHATBOX_HEIGHT : 75vh;
    --CHATBOX_WIDTH : 20vw;
    --PARTICIPANTSPANEL_HEIGHT : 20vh;
}